<!doctype html>
<html lang='en'>
        <head>
                <title>List of Squirrel Sightings</title>
        </head>
        <body>
		<p>
		<b>Welcome to our app: Squirrel Tracker!</b>
		</p>
		<p>
		<ul>
			<li><a href="/map/">Click here</a> to view the squirrel tracking map.</li>
			<li><a href="stats/">Click here</a> to view some descriptive statistics.</li>
			<li><a href="add/">Click here</a> to add a New Sighting.</li>
		</ul>
		</p>
                <table border='1'>
			<caption><b>Squirrel Tracker Table</b></caption>
                        <thead>
                                <tr>
                                        <th>Unique Squirrel Id</th>
                                        <th>Longitude</th>
                                        <th>Latitude</th>
                                        <th>Date</th>
                                        <th>Shift</th>
                                </tr>
                        </thead>

                        <tbody>
                        {% for sight in sights %}
                                <tr>
                                        <td><a href="{{sight.Unique_Squirrel_Id}}/">{{ sight.Unique_Squirrel_Id }}</a></td>
                                        <td>{{ sight.Longitude }}</td>
                                        <td>{{ sight.Latitude }}</td>
                                        <td>{{ sight.Date }}</td>
                                        <td>{{ sight.Shift }}</td>
                                </tr>
                        {% endfor %}
                        </tbody>
                </table>
        </body>
</html>

